.app_dark_theme {
    --bg-color: #23272f;
    --inverted-bg-color: #fdfdfd;
    --primary-color: #139eca;
    --secondary-color: #41c3ee;
    --inverted-primary-color: #419ebd;
    --inverted-secondary-color: #7ad0f8;

    // skeleton
    --skeleton-color: #6ec3e0;
    --skeleton-shadow: #419ebd;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #14161a;
}
