.app.dark {
    --bg-color: #23272F;
    --inverted-bg-color: #fdfdfd;

    --primary-color: #139ECA;
    --secondary-color: #41c3ee;

    --inverted-primary-color: #419ebd;
    --inverted-secondary-color: #7ad0f8;
}
