.app_dark_theme {
    --bg-color: #23272f;
    --inverted-bg-color: #fdfdfd;
    --primary-color: #139eca;
    --secondary-color: #41c3ee;
    --inverted-primary-color: #41c3ee;
    --inverted-secondary-color: #139eca;

    // redesigned
    --dark-bg-redesigned: #090f11;
    --bg-redesigned: #0c1214;
    --light-bg-redesigned: #151c1f;
    --text-redesigned: #dbdbdb;
    --hint-redesigned: #555;
    --cancel-redesigned: #d95757;
    --save-redesigned: #6cd98b;
    --icon-redesigned: #74a2b2;
    --accent-redesigned: #5ed3f3;

    // skeleton
    --skeleton-color: #6ec3e0;
    --skeleton-shadow: #419ebd;

    // code
    --code-bg: #fff;

    // card
    --card-bg: #14161a;

    // list-box
    --listbox-bg: #14161a;
}
