.app_green_theme {
    --bg-color: #f4fbfb;
    --inverted-bg-color: #65c5c2;
    --primary-color: #032f4b;
    --secondary-color: #f7f8f8;
    --inverted-primary-color: #01495b;
    --inverted-secondary-color: #969896;

    // redesigned
    --dark-bg-redesigned: #fff3d6;
    --bg-redesigned: #f0c048;
    --light-bg-redesigned: #f2d791;
    --text-redesigned: #1b1311;
    --hint-redesigned: #b8b2a2;
    --cancel-redesigned: #ff5e5e;
    --save-redesigned: #52fa81;
    --icon-redesigned: #4875f0;
    --accent-redesigned: #1d59ff;

    // skeleton
    --skeleton-color: #92c4e5;
    --skeleton-shadow: #032f4b;

    // code
    --code-bg: #032f4b;

    // card
    --card-bg: #f4fbfb;

    // list-box
    --listbox-bg: #f4fbfb;
}
