.app_green_theme {
  --bg-color:#F4FBFB;
  --inverted-bg-color: #65c5c2;
  --primary-color: #032f4b;
  --secondary-color: #F7F8F8;
  --inverted-primary-color: #01495b;
  --inverted-secondary-color: #969896;
}
