:root {
    --bg-color: #fdfdfd;
    --inverted-bg-color: #23272f;
    --primary-color: #419ebd;
    --secondary-color: #7ad0f8;
    --inverted-primary-color: #139eca;
    --inverted-secondary-color: #41c3ee;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
