:root {
    --bg-color: #fdfdfd;
    --inverted-bg-color: #23272f;
    --primary-color: #419ebd;
    --secondary-color: #35687c;
    --inverted-primary-color: #62cef8;
    --inverted-secondary-color: #35687c;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #23272f;

    // list-box
    --listbox-bg: #23272f;
}
