:root {
    --bg-color: #fdfdfd;
    --inverted-bg-color: #23272F;

    --primary-color: #419ebd;
    --secondary-color: #7ad0f8;

    --inverted-primary-color: #139ECA;
    --inverted-secondary-color: #41c3ee;
}
